main {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  @media screen and (min-width: 800px) {
    max-width: 500px;
    margin: auto;
  }
}

app-square {
  width: 33.333333333%;
  position: relative;
  border: 1px gray solid;
  outline: none;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.start-new-game {
  margin: auto auto 2rem;
  text-align: center;
  &.hasWinner {
    z-index: 3;
    position: fixed;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    button {
      font-size: 2rem;
      padding: 2rem;
      background-color: #fff;
    }
  }
}

#overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .85);
  z-index: 2;
  text-align: center;
}
